@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');

/* generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 247, 247);
}

header{
    background-color: white;
    font-family: 'Archivo Black', sans-serif;
}

/* intestazione */

#intestazione{
    padding: 20px 30px;
}

#intestazione img{
    line-height: 50px;
    vertical-align: middle;
    height: 60px;
}

#intestazione h1{
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    vertical-align: middle;
}

/* parte principale */

.container{
    width: 60%;
    background-color: white;
    border: solid 1px rgb(235, 235, 235);
    border-radius: 10px;
    margin: 3% auto;
}

.container section{
    padding-left: 50px;
}

span.check, span.cross{
    margin-right: 5px;
} 

/* Button */

#button-section {
    padding: 20px 20px 20px 50px;
}

.button_main{
    width: 120px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.button_main:hover{
    color: black;
    background-color: red;
    text-decoration: underline;
}

button:first-child{
    color: white;
    background-color: rgb(21, 165, 255);
    border: solid 1px rgb(21, 165, 255);
}

button:last-child{
    color: rgb(226, 226, 226);
    background-color: white;
    border: solid 1px rgb(226, 226, 226);
}

/* Divisore */

#hr{
    background-color: rgb(247, 247, 247);
    height: 2px;
    border: 0;
}

/* Font Family del container */

div.container{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
}

/* margine alla fine tra il paragrafo e il container */

.ultima_sezione{
    margin-bottom: 50px;
}

/* Padding dei paragrafi */

.prima_sezione p, .seconda_sezione p, .ultima_sezione p{
    padding: 10px 0 0;
    font-size: 18px;
    font-family: sans-serif;
}

/* aggiunta margine sopra i titoli */

h2{
    margin-top: 30px;
}

h2:hover{
    color:darkblue;
    font-size: 30px;
}

/* Aggiunta simbolo check */

.check::before{
    border: solid 1px green;
    border-radius: 50%;
    content: "\2713";
    color: green;
    margin-right: 4px;
    padding: 3px;
}

/* aggiunta simbolo cross */

.cross::before{
    border: solid 1px red;
    border-radius: 50%;
    content: "\2717";
    color: red;
    margin-right: 4px;
    padding: 3px;
}

/* Aggiunta dei vari riquadri */

.riquadro{
    border-radius: 20px;
    color: white;
    padding: 5px 12px;
    margin-left: 5px;
    font-size: 15px;
    line-height: 12px;
    vertical-align: bottom;
}

/* colori dei vari riquadri */

.editorial{
    background-color: rgb(21, 165, 255);
    border: solid 1px rgb(21, 165, 255);
}

.goals{
    background-color: rgb(135, 71, 194);
    border: solid 1px rgb(135, 71, 194);
}

.recruting{
    background-color: rgb(55, 201, 157);
    border: solid 1px rgb(55, 201, 157);
}

.mobile{
    background-color: rgb(253, 163, 60);
    border: solid 1px rgb(253, 163, 60);
}

.website{
    background-color: rgb(255, 100, 247);
    border: solid 1px rgb(255, 100, 247);
}

.sales{
    background-color: rgb(128, 209, 111);
    border: solid 1px rgb(128, 209, 111);
}